# Core dependencies

# Add project dependencies here as they are introduced.
# Examples:
# pyttsx3
# speechrecognition
# pydantic
# fastapi
# requests
# pygame

pytest
PySide6
ollama
requests
sounddevice
numpy
faster-whisper
pyttsx3
pyinstaller
pywin32
